section {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
div#one {
    width: 50%;
    height: 500px;
    float: left;
    margin: 20px;
}
div#two {
    margin-left: 50%;
    height: 500px;
    margin: 20px;
}
