section {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

div#d1 {
    width: 50%;
    height: 500px;
    float: left;
    margin: 20px;
}

div#d2 {
    margin-left: 50%;
    height: 500px;
    margin: 20px;
}

div#d1 canvas, div#d2 canvas {
    cursor: pointer;
}
